html {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100%;
    min-height: 500px;
    font-family: "Roboto", sans-serif;
}

.left-section {
    width: 38%;
    min-width: 270px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(.././img/josh-hild-K4WXehq5Alc-unsplash.jpg);
    background-size: auto 100%;
    background-position: center;
}

.source,
.source a {
    color: black;
    font-size: 11px;
}

.source {
    margin: 10px;
    background-color: #ffffff70;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-flex-row {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form-flex-row div {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596D48;
    color: white;
}

/* .content {
    flex: 1;
} */

img {
    width: 80px;
    overflow: hidden
}

.logo {
    margin-top: min(150px,13vh);
    font-size: 80px;
    display: flex;
    overflow: hidden;
    background-color: #ffffff79;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

