:root {
    --content-padding-left: 40px;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgb(239, 239, 239);
    flex: 1;
}

p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100%;
    min-height: 500px;
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

.header {
    width: 75%;
    margin: 80px 0 50px var(--content-padding-left);
    font-weight: bold;
}

.header p {
    margin-top: 20px;
}

.left-section {
    width: 40%;
    min-width: 270px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./img/josh-hild-K4WXehq5Alc-unsplash.jpg);
    background-size: auto 100%;
    background-position: center;
}

.source,
.source a {
    color: black;
    font-size: 10px;
}

.source {
    margin: 10px;
    background-color: #ffffff70;
    position: sticky;
    bottom: 10px;
}

.signup-form {
    box-shadow: 0 6px 6px -6px grey;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px 0 30px var(--content-padding-left);
    gap: 14px;
    letter-spacing: 1px;
}

label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}

input {
    border-color: #E5E7EB;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

input:focus {
    border-color: rgb(0, 0, 170);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    box-shadow: 6px 6px 6px -6px grey;
}

form h1 {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.form-flex-row {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 14px;
    position: relative;
}

.form-flex-row div {
    display: flex;
    flex-direction: column;
}

.content-bottom button {
    background-color: #596D48;
    color: white;
    border-style: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.content-bottom a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

img {
    width: 60px;
    height: 60px;
}

.logo {
    margin-top: min(150px, 17vh);
    font-size: 60px;
    display: flex;
    background-color: #ffffff4f;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
}

.brand-name {
    font-family: 'Pacifico', cursive;
}

.content {
    overflow-y: auto;
    height: 100vh;
    min-width: 200px;
}

.content-bottom {
    padding: 20px 0 30px var(--content-padding-left);
}

.email:not(:focus):invalid +span::after {
    content: "* Not a valid email";
    display: inline;
    position: absolute;
    font-size: 10px;
    color: rgb(170, 0, 0);
}

.email:not(:focus):invalid {
    border-color: rgb(170, 0, 0);
}

.wrong-password +span::after {
    content: "* Passwords do not match";
    display: inline;
    position: absolute;
    font-size: 10px;
    color: rgb(170, 0, 0);
}

.wrong-password {
    border-color: rgb(170, 0, 0);
}

.wrong-password:focus {
    border-color: rgb(170, 0, 0);
}